/* SASS VARIABLES
==================== */
// COLOR
$color-black-main: #000000;
$color-white-main: #ffffff;
$color-blue-main: #1521c3;
$color-blue-sub: #adc4fc;
$color-grey-main: #777;
$color-grey-1: #333333;
$color-bg-main__info: #f2f9ff;
$color-text-group_5: #1f3f68;
$color-red-main: #eb5757;
$color-bg_blue: #00a2e8;
$color-bg_red: #ff3a29;
$color-bg_green: #34b53a;
$color-btn_yellow: #feba48;
$color-blue-box: #316099;
$color-blue_border: #5a98d0;
$color-bg-circle_passion-1: #f97830;
$color-bg-circle_passion-2: #dc2f69;
$color-bg-circle_passion-3: #7f58c3;
$color-bg-circle_passion-4: #262f72;

//FONT
$default-font-size: 1.6rem;
