/* RESET 
==================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* WEB FONT
==================== */

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-Gilroy\ Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "SVN-Gilroy Bold";
  src: url("../fonts/SVN-Gilroy\ Bold.otf") format("opentype");
  font-style: normal;
}

/* PAGE STYLES
==================== */

html {
  // This defines what 1 rem is
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}
